* {
    padding:0px;
    margin:0px;
}
body{
}
#container{
    background-color: cadetblue;
}
header{
    height: 100px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 10;
    position:fixed;
}
div#header_Underline{
    background-color: dodgerblue;
    position: fixed;
    top:100px;
    height:4px;
    width:100%;
}

div#banner{
    position: fixed;
    width: 100%;
    top:104px;
    height:400px;
}

div#content {
    width: 100%;
    position: relative;
    top:500px;
    background-color:dodgerblue;
    height:1300px;
    color:white;


}
/*Sljedeca 4 bloka su zaduzena za tekst i poravnanje novosti*/
#novosti{
    padding:100px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    max-height:500px;
    overflow: auto;
    border:4px solid white;
}
.novost{
    padding:10px;
    width:90%;
    float:left;
    border-bottom: 2px solid white;
}
.tekst > a{
    text-decoration: none;
    color:whitesmoke;
    background-color: dodgerblue;
    padding-top: 10px;
    text-align:center;
    border: 3px solid dodgerblue;
    border-radius: 20px;
}

.novost > img {
    float:right;
    width:250px;
    height:125px;
}
.tekst {
    float:left;
    width: 70%;
}
/*--------------------------------------------------------------*/

div#content > h2{
    padding:20px;
    text-align:center;
    font-size: 52px;
    font-style: italic;
}
div#content > p{
    position:relative;
    margin-left:150px;
    margin-right:150px;
    padding-top:50px;
    width: 80%;
    text-align: center;
    font-size:22px;
}

#Logo{
    position:relative;
    top:20px;
    width:460px;
    left:40px;

}
ul#lista_headera{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
header > ul > li >  a {
    display: block;
    width: 100px;
    height: 31px;
    text-decoration: none;
    color:dodgerblue;

}

header > ul> li> a:hover{
    color:white;
    background-color: dodgerblue;
}

li.lista_u_headeru {
    margin-left: 10px;
    margin-right:10px;
    float:left;
    display: inline;
    border-top: 4px solid dodgerblue;
    text-align: center;

}
ul#lista_headera{
    position:absolute;
    top:60px;
    right:50px;
}

/*Dio za manipulisanje sa donjom trakom i footerom*/
div#bottom {
    position: relative;
    width: 100%;
    height: 120px;
    top:360px;
    background-color: whitesmoke;

}

div#bottom > div{
    position:relative;
    padding:10px;
    float: left;
    left:47%;
    top:20px;
}
footer#Copy{
    position: relative;
    background-color: dodgerblue;
    text-align: center;
    top:360px;
    color: white;
    font-size:20px;
}

div#bottom_upperline{
    position:relative;
    top:360px;
    width:100%;
    height : 4px ;
    background-color: dodgerblue;
}
div#bottom_underline{
    position:relative;
    top:360px;
    width:100%;
    height : 4px ;
    background-color: dodgerblue;
}
div#facebook > img {
    height: 64px;
    width:64px;
}
div#twitter > img {
    height: 64px;
    width:64px;

}
/*--------------------------------*/
div#content_upperline{
    position:relative;
    top:500px;
    width:100%;
    height: 4px;
    background-color: whitesmoke;
}
div#Location_1{
    padding:10px;
    font-size: 20px;
    float:left;
    border-right: solid whitesmoke 4px;
    margin-left: 35%;
}
div#Location_2{
    padding:10px;
    font-size: 20px;
    float:left;
}
#youtube_video{
    padding:10px;
    width:600px;
    height:375px;
    margin-left:auto;
    margin-right:auto
}

#contact_form{
    padding:10px;
    font-size: 20px;
    width:420px;
    height:430px;
    top: 40px;
    margin-left:auto;
    margin-right:auto;

}
#input_name{
    width:400px;
    height:30px;
}
#input_email{

    width:400px;
    height:30px;
}
#text_area{
    width:400px;
    height:150px;
}
#button_input{
    height:30px;
    width:80px;
    background-color: dodgerblue;
    color:white;
}

#button_clear{

    height:30px;
    width:80px;
    background-color: dodgerblue;
    color:white;
}

div#video_more{
    padding:10px;
    width:500px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
}

div#audio{
    padding:10px;
    width:300px;
    height:50px;
    margin-right:auto;
    margin-left: auto;
}

table, th, td {

    border: 2px solid black;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    height: 30px;
}
table#catalogue_table {
    color:black;
    background-color: whitesmoke;

}
table#catalogue_table > caption {
    font-size: 30px;
    color:whitesmoke;
}
div#catalogue_table_main {
    width: 100%;
    padding-top: 50px;

}

div#firme_saradnice {

    width:100%;
    position:relative;
    padding-top:20px;
    color: white;
    left:200px;
    font-size: 30px;
    list-style-image: url("http://www.autoliv.com/Style%20Library/Autoliv/Images/icon-red-bg-white-arrow-small.png");
}

