* {
    padding:0px;
    margin:0px;
}
#container{
    background-color: cadetblue;
}
/*ovaj dio za html jos testiram nesto mi se white space pojavljuje*/
html{
    height:100%;
    width:100%;
}
header{
    height: 100px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 10;
    position:fixed;
}
div#header_Underline{
    background-color: dodgerblue;
    position: fixed;
    top:100px;
    height:4px;
    width:100%;
}

div#banner{
    position: fixed;
    width: 100%;
    top:104px;
    height:400px;
}

div#content {
    width: 100%;
    position: relative;
    top:600px;
    background-color:dodgerblue;
    height:1400px;
    color:white;
}


#content_about_us {
    width: 100%;
    position: relative;
    top:600px;
    background-color:dodgerblue;
    height:3200px;
    color:white;}

/*Sljedeca 4 bloka su zaduzena za tekst i poravnanje novosti*/
#novosti{
    padding:100px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    max-height:500px;
    overflow: auto;
    border:4px solid white;
}

.novost{
    padding:10px;
    width:90%;
    float:left;
    border-bottom: 2px solid white;
}
.tekst > a{
    text-decoration: none;
    color:whitesmoke;
    background-color: dodgerblue;
    padding-top: 10px;
    text-align:center;
    border: 3px solid dodgerblue;
    border-radius: 20px;
}

.novost > img {
    float:right;
    width:250px;
    height:125px;
}
.tekst {
    float:left;
    width: 50%;
}
/*--------------------------------------------------------------*/

div#content > h2{
    padding:20px;
    text-align:center;
    font-size: 52px;
    font-style: italic;
}
div#content > p{
    position:relative;
    margin-left:150px;
    margin-right:150px;
    padding-top:50px;
    width: 80%;
    text-align: center;
    font-size:22px;
}

div#content_about_us > h2{
    padding:20px;
    text-align:center;
    font-size: 52px;
    font-style: italic;
}

#content_about_us > p {
    margin-left:auto;
    margin-right: auto;
    position:relative;
    padding-top:50px;
    width: 80%;
    text-align: center;
    font-size:22px;
}

#content_about_us > h3{

    text-align:left;
    font-size: 32px;
    font-style: italic;
    position:relative;
    left:100px;
    margin-left:auto;
    margin-right: auto;
}

#Logo{
    cursor:pointer;
    position:relative;
    top:20px;
    width:460px;
    left:40px;

}
ul#lista_headera{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
header > ul > li >  a {
    cursor: pointer;
    display: block;
    width: 100px;
    height: 32px;
    text-decoration: none;
    color:dodgerblue;

}

header > ul> li> a:hover{
    cursor: pointer;
    color:white;
    background-color: dodgerblue;
}

li.lista_u_headeru {
    margin-left: 10px;
    margin-right:10px;
    float:left;
    display: inline;
    border-top: 4px solid dodgerblue;
    text-align: center;
    height: 37px;

}
ul#lista_headera{
    position:absolute;
    top:60px;
    right:50px;
}

/*Dio za manipulisanje sa donjom trakom i footerom*/
div#bottom {
    position: relative;
    width: 100%;
    height: 120px;
    top:460px;
    background-color: whitesmoke;

}

div#bottom > div{
    position:relative;
    padding:10px;
    float: left;
    left:47%;
    top:20px;
}
footer#Copy{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    background-color: dodgerblue;
    text-align:center;
    top:460px;
    color: white;
    font-size:20px;
}

div#bottom_upperline{
    position:relative;
    top:460px;
    width:100%;
    height : 4px ;
    background-color: dodgerblue;
}
div#bottom_underline{
    position:relative;
    top:460px;
    width:100%;
    height : 4px ;
    background-color: dodgerblue;
}
div#facebook{
    float:left;

 }
div#twitter {
    float:left;

}
div#google_plus{
    float:left;

}

div#follow_butons{
    margin-right: auto;
    margin-left: auto;
}
/*----------------------------------------------------------------------------------------------------------------------*/
div#content_upperline{
    position:relative;
    top:600px;
    width:100%;
    height: 4px;
    background-color: whitesmoke;
}
#mapa_prosoltech{
    margin-left: 35%;

}
div#Location_1{
    padding:10px;
    font-size: 20px;
    float:left;
    border-left: solid whitesmoke 4px;
    border-right: solid whitesmoke 4px;
    margin-left: 35%;
}


#contact_form{
    padding:10px;
    font-size: 20px;
    width:420px;
    height:430px;
    top: 40px;
    margin-left:auto;
    margin-right:auto;

}
#input_name{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_city{
    height:25px;
    width:400px;
    border-radius: 5px;
}
#input_zipcode{
    height:25px;
    width:400px;
    border-radius: 5px;
}
#input_email{

    width:400px;
    height:25px;
    border-radius: 5px;
}
#message_text_area{
    width:400px;
    height:130px;
    border-radius: 5px;
}
#button_input{
    height:25px;
    width:80px;
    background-color: whitesmoke;
    color:dodgerblue;
}

#button_clear{

    height:25px;
    width:80px;
    background-color: whitesmoke;
    color:dodgerblue;
}


table, th, td {

    border: 2px solid black;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    height: 30px;
}
table#catalogue_table {
    color:black;
    background-color: whitesmoke;

}
table#catalogue_table > caption {
    font-size: 30px;
    color:whitesmoke;
}
div#catalogue_table_main {
    width: 100%;
    padding-top: 50px;

}

div#firme_saradnice {

    width:100%;
    position:relative;
    padding-top:20px;
    color: white;
    left:200px;
    font-size: 30px;
    list-style-image: url("images/blueDot.png");
}

div#lista_uslugaPST {

    width:75%;
    position:relative;
    padding-top:20px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    font-size: 22px;
    list-style-image: url("images/blueDot.png");
}

div#lista_uslugaHWT {

    width:75%;
    position:relative;
    padding-top:20px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    font-size: 22px;
    list-style-image: url("images/blueDot.png");
}

div#lista_uslugaLET {

    width:75%;
    position:relative;
    padding-top:20px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    font-size: 22px;
    list-style-image: url("images/blueDot.png");
}


div#lista_uslugaTTE {

    width:75%;
    position:relative;
    padding-top:20px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    font-size: 22px;
    list-style-image: url("images/blueDot.png");
}
/*----------------------------------------------CSS Za validaciju kontakt forme-----------------------------------*/
/* napomena za sebe kasnije staviti na static ovo da se lijepo poslozi ispod inputa*/
#kontakt_forma{
    position:relative;
    top:20px;
    width:500px;
    margin-left: auto;
    margin-right: auto;

}
#ime_error {

    background-color: red;
    color: white;
    display: none;
    width: 402px;
    position:static;
    left: 1170px;
    top:650px;
    font-size: 18px;
    height:20px;
    border-radius: 5px;
}
#mail_error {
    background-color: red;
    color: white;
    display: none;
    width: 402px;
    position:static;
    left: 1170px;
    top:800px;
    font-size: 18px;
    height:20px;
    border-radius: 5px;
}
#zipcode_error{

    background-color: red;
    color: white;
    display: none;
    width: 402px;
    position:static;
    left: 1170px;
    top:750px;
    font-size: 18px;
    height:40px;
    border-radius: 5px;
}
#message_error {
    background-color: red;
    color: white;
    display: none;
    width: 402px;
    position: static;
    left:1170px;
    top:850px;
    font-size: 18px;
    height:20px;
    border-radius: 5px;
}
img#checked {
     display:none;
     float:right;
 }
img#unchecked{
    display: none;
    float:right;
}
img#checked2 {
    display:none;
    float:right;

}
img#unchecked2{
    display: none;
    float:right;

}
img#checked3 {
    display:none;
    float:right;

}
img#unchecked3{
    display: none;
    float:right;
}
img#checked4 {
    display:none;
    float:right;

}
img#unchecked4{
    display: none;
    float:right;
}
#state {
    height :25px;

}
#country {
    height:25px;
    width:150px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

#katalog_podmeni{
    z-index:11;
    display: none;
    border: solid dodgerblue 4px;
    position:relative;
    top:-1px;

}
#katalog_podmeni > li {

    cursor: pointer;
    background-color: whitesmoke;
    list-style-type: none;
    display: block;

}
#katalog_podmeni > li :hover {
    cursor: pointer;
    background-color: dodgerblue;
    color:whitesmoke;
    list-style-type: none;
    display: block;
}
#katalog_podmeni > li> a {
    cursor: pointer;
    padding-top:10px;
    height:32px;
    display: block;
    text-decoration:none;
    color:dodgerblue;

}
#katalog_podmeni > li> a :hover {
    cursor: pointer;
    display: block;
    text-decoration:none;
    color: white;

}


 /*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Unos itema u katalog css----------------------------------------------------*/

#item_form{
    padding:10px;
    font-size: 20px;
    width:420px;
    height:450px;
    top: 40px;
    margin-left:auto;
    margin-right:auto;

}
#id_change{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#item_akcija{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#item_error{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_item_name{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_item_description{
    width:400px;
    height:25px;
    border-radius: 5px;
 }
#input_image{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_URL{
    width:400px;
    height:25px;
}
#input_availability{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_quantity{
    width:400px;
    height:25px;
    border-radius: 5px;
}
#input_price{
    width:400px;
    height:25px;
    border-radius: 5px;
}